
    <h3><%= @post.name %></h3>
    <p><%=  @post.author %></p>
    <p><%=  @post.content %></p>

<div class="comments">
  <h2>Comments</h2>
    <h3><%= @comment.title %></h3>
    <p><%= @comment.body  %></p>
</div>
