<h2>Edit <i><%= @post.name %></i></h3>

<%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "Post Name", class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.text_field :author, placeholder: "Author Name", class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Post Content", class: "form-control" %>
    </div>
      <div class="form-group">
      <input type="text" name="tag[name]" value="<%= @post.tags.map(&:name) %>" class="form-control" >
    </div>
    <div class="form-group">
      <%= f.submit "Update post" , class: "form-control btn-default" %>
    </div>

<% end %>