<h2><%= @posts.name %></h2>
<h4>By <%= @posts.author %></h4>
<p><%= @posts.content %></p>
<p>Tag: <%= @posts.tags.map(&:name) %></p>

  <form action="/delete" method="post" role="form">
    <input type="hidden" name="id" value="<%= @posts.id %>">
    <%= token_tag form_authenticity_token %>
    <button type="submit" class="btn btn-default">Delete</button>
  </form>


<a href="/"  class="see-all">See all posts &raquo;</a>